.top-navigation {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 25px 0;
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    margin: 0;
    transition: background-color 600ms ease-in-out,
    padding 100ms ease-in-out;
}

.top-navigation.black-header {
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    transition: background-color 200ms ease,
    padding 800ms ease;
}

.top-navigation .nav-item .nav-link {
    line-height: 30px;
    padding: 0 8px;
    font-size: 15px;
    color: #d0dee3;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.top-navigation .subMenu .nav-item .nav-link {
    line-height: 32px;
    min-width: 160px;
}

.top-navigation .subMenu .nav-item:hover .nav-link
{
    background-color: #444;
}


.searchBar {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 6px;
    padding: 15px 20px;
    margin-left: 30px;
    width: 100%;
    max-width: 230px;
    transition: width 350ms;
    float: left;
    font-size: 14px;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    .top-navigation {
        padding-top: 10px;
    }
}

.site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.site-title a {
    float: left;
    min-height: 54px;
    width: 182px;
    background-size: contain !important;
    transition: min-height 300ms ease-in-out;
    margin: 0;
    z-index: 20;
}

.black-header .site-title a {
    z-index: 11;
}

.active {
    font-weight: 600;
}

.cookieicon {
    max-height: 15px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.menu-icon {
    display: none;
    text-align: right;
    font-size: 1.8rem;
    position: absolute;
    right: 7%;
    cursor: pointer;
    z-index: 10;
}

.top-navigation .nav {
    transition: max-height 500ms ease-in-out;
}

.hidden-nav {
    transition: max-height 500ms ease-in-out;
}

.subMenu {
    transition: height 400ms ease-in-out;
    overflow: hidden;
    z-index: 11;
}

.hamburger div {
    height: 5px;
    margin-top: 5px;
    width: 30px
}

@media screen and (max-width: 1280px) {
    .searchBar {
        max-width: 210px;
    }
}

@media screen and (min-width: 1201px) {
    .desktop-hidden {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .hidden-nav {
        max-height: 0;
        display: none;
    }

    .top-navigation .nav {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-top: 60px;
        font-size: 1.2rem;
    }

    .menu-icon {
        display: initial;
        line-height: 1;
        color: rgb(123, 197, 110);
    }

    .top-navigation .nav-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #0A0A0A;
        text-align: center;
    }

    .top-navigation .justify-content-end {
        -webkit-justify-content: flex-start !important;
        justify-content: flex-start !important;
    }
}

.mobile-searchbar {
    display: none;
}

.mobile-searchbar div {
    width: 90% !important;
    max-width: 90% !important;
    margin-left: 5% !important;
}

@media screen and (max-width: 640px) {
    .top-navigation {
        padding-top: 10px;
    }

    .nav-items {
        opacity: 0.95;
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(110, 110, 110, 0.5);
        border-radius: 0 0 13px 13px;
    }

    .mobile-searchbar {
        align-self: center;
        align-content: center;
        width: 100%;
    }

    .searchBar {
        max-width: 80%;
        margin-left: 10%;
    }

    .responsive-searchbar {
        text-align: center;
    }

    .desktop-searchbar {
        display: none;
    }

    .menu-icon {
        padding-top: 10px;
        padding-right: 10px;
    }

    .mobile-searchbar {
        display: initial;
    }
}

