
.post {
    margin: 10px 0 10px 0;
}

.post-card {
    /*width: 300px;*/
    background-color: rgba(0, 0, 0, 0);
}

.post a:hover {
    text-decoration: none;
}

.posts-carousel-inner {
    transition: transform .5s ease-in-out;
}

.carousel-arrow:hover {
    transform: scale(1.2);
}

.carousel-arrow {
    position: absolute;
    top: 30%;
    font-size: 36px;
    cursor: pointer;
    z-index: 9;
    transition: transform 150ms ease-in-out, color 150ms ease-in-out;
}

@media screen and (max-width: 640px) {
    .carousel-arrow {
        display: none;
    }
}


