.sidebar-product-appetizer {
    font-size: 12px;
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 6px;
}

@media (min-width: 992px) {
    .sidebar {
        border-left: 1px solid #272727;
    }
}

.sidebar-categories,
.sidebar-tags {
    line-height: 1;
    border-radius: 3px;
    display: inline-block;
    transition: all 120ms ease-in-out;
}

.sidebar-tags {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #444;
    text-decoration: none;
    color: #888;
    font-size: 13px;
    padding: 3px 6px;
    margin: 0 6px 6px 0;
}

.sidebar-tags:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #fff;

}

.sidebar-categories {
    font-size: 13px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 5px 5px 0;
    background: #121212;
    border: 2px solid #0f8b0d;
    text-decoration: none;
    color: #eaeaea;
    border-radius: 6px;
    opacity: 0.8;
}

.sidebar-categories:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;

}

.sidebar-meta-headline {
    color: #e2e2e2;
    letter-spacing: 2px;
    font-weight: 600;
}

.sidebar-content .btn-cta {
    line-height: 1rem;
    padding: .8rem 1rem;
}

@media screen and (max-width: 640px) {
    .sidebar-content {
        margin-top: 10px;
    }
}
