.bookings-table td, .bookings-table th {
    min-width: 200px;
    max-width: 200px;
}

.bookings-table .narrow
{
    min-width: 120px;
    max-width: 120px;
    word-break: break-word;
}

.bookings-table {
    margin-bottom: 50px;
    max-width: 100%;
    overflow-x: auto;
}

.bookings-table a {
    color: #9af398;
}

.bookings-table thead tr {
    display: block;
}

.bookings-table tbody {
    display: block;
    overflow-y: auto;
    max-height: 65vh;
}
