.admin-footer {
    position: fixed;
    bottom: 20px;
    left: 25px;
    border-radius: 6px;
    height: 50px;
    padding: 10px;
    width: 600px;
    background-color: rgba(40,40,40,0.92);
    border: 1px solid rgba(150,150,150,0.6);
    z-index: 9999;
}

.admin-footer-button
{
    background: #0f8b0d;
    padding: 3px 8px;
    line-height: 1.1;
    margin: 0;
    border-radius: 6px;
    font-size: 13px;
    margin-right: 15px;
    cursor: pointer;
}

